.footer{
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-left: 20px;
}
.footer ul li{
    margin: 10px;
    
}
.footer ul li a{
    color: white;
    font-size: 80%;
}