*, ::before, ::after{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  }
  body{
    background: center / cover url(../ressources/photos-oise/foret.jpg);
    background-repeat: repeat-y;
    font-family: "Varela Round", sans-serif;
  }
  .accueil1 {
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  h1 {
    /*font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
    text-decoration-line: underline;*/
    display: none;
  }
  h2 {
    font-style: italic;
    text-align: center;
    margin-top: 0;
    color: white;
  }
  p {
    font-family: "Poppins", sans-serif;
  }
  .boxoise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  .box-chantilly {
    display: inline-block;
    width: 280px;
    min-height: 220px;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/Château-de-Chantilly.jpg);
    background-clip: border-box;
    text-align: left;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
    box-sizing: border-box;
  }
  .box-chantilly:hover .text-chantilly:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin: 5px;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "Le château de Chantilly est l’un des joyaux du patrimoine français. Il est aussi l’œuvre d’un homme au destin exceptionnel : Henri d’Orléans, duc d’Aumale, fils du dernier roi des Français, Louis-Philippe. Ce prince, …";
    opacity: 0.7;
  }
  .box-compiegne {
    display: inline-block;
    width: 280px;
    min-height: 220px;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/palaisdecompiegne.jpg);
    background-clip: border-box;
    text-align: left;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
  }
  .box-compiegne:hover .text-compiegne:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin: 5px;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "En vous arrêtant au Château de Compiègne, vous pourrez visiter les appartements de l'Empereur et de l'Impératrice, l'appartement du Roi de Rome, l'appartement double de Prince, les musées du Second Empire et ... ";
    opacity: 0.7;
  }
  .box-pierrefond {
    display: inline-block;
    width: 280px;
    min-height: 220px;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/chateau-pierrefonds.jpg);
    background-clip: border-box;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
  }
  .box-pierrefond:hover .text-pierrefond:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin: 5px;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "Un château réinventé. Construit à la fin du XIV° siècle par le duc Louis d’Orléans, le château est démantelé au XVIIe et se trouve à l’état de ruines lorsque Napoléon III décide d’en confier la reconstruction à l’architecte Eugène Viollet-le-Duc qui met en pratique ses conceptions architecturales pour en faire un château idéal tel qu’il aurait existé au Moyen Âge.";
    opacity: 0.7;
  }
  .box-chaalis {
    display: inline-block;
    width: 280px;
    min-height:  220px;;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/chaalis.jpg);
    background-clip: border-box;
    text-align: left;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
  }
  .box-chaalis:hover .text-chaalis:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin: 5px;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "À 40 km de Paris, venez découvrir le Domaine de Chaalis, sa chapelle, véritable « Sixtine française », son « Musée Jacquemart-André », son parc et sa roseraie classée « Jardin remarquable ». Cet ensemble riche de neuf siècles d’histoire est niché dans le creux d’un vallon boisé qui fait l’admiration des visiteurs depuis des décennies.";
    opacity: 0.7;
  }
  .box-beauvais {
    display: inline-block;
    width: 280px;
    min-height: 220px;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/cathedraledebeauvais.jpg);
    background-clip: border-box;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
  }
  .box-beauvais:hover .text-beauvais:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin: 5px;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "Impressionnante ! C’est le mot qui vient immédiatement à l’esprit lorsque l’on regarde la cathédrale Saint Pierre de Beauvais. Elle possède les voûtes les plus hautes de l’art gothique et sa construction s’est étalée sur cinq siècles, ce qui explique pourquoi elle a toujours eu des problèmes de stabilité.";
    opacity: 0.7;
  }
  .box-destinationoise {
    display: inline-block;
    width: 280px;
    min-height: 220px;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    background: no-repeat center / cover
      url(../ressources/photos-oise/Etangs-de-Comelles.jpg);
    background-clip: border-box;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
  }
  .box-destinationoise:hover .text-destination:after {
    z-index: -1;
    display: flex;
    background-color: white;
    margin-top: 50px;
    color: black;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    content: "A deux pas de chez vous. Une nature très accessible et un patrimoine exceptionnel ! randos, balades, histoire,patrimoine et sorties. ";
    opacity: 0.7;
  }
  a {
    text-decoration: none;
    color: rgb(6, 6, 6);
  }
  