body{
    height: 100vh;
    width: auto;
    margin-top: -40px;
    text-align: center;
    background:center / cover url(../ressources/photos-oise/foret.jpg);
    background-repeat: repeat-y;
    font-family: 'Varela Round', sans-serif;
}
.accueil1{
    width: 100%;
    height: 100%;
    /*background: #0E6251;*/
}
h1{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
    text-decoration-line: underline;
  }
h2{
    font-style: italic;
    text-align: center;
    margin-top: 0;
    color: white;
}
p{
    font-family: 'Poppins', sans-serif;
}
.boxoise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.box2d{
   
    width: 100px;
    height: 20px;
    padding: 15px;
    margin: 20px;
    /*mix-blend-mode: multiply;*/
    background: rgb(155, 116, 57) ;  
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    border-color: rgb(236, 213, 37);
   /* box-shadow: 0px 6px rgb(160, 123, 12);*/
}
  .box2d:hover{
    background: rgb(210, 210, 214);
   /* box-shadow: 0px 8px rgb(160, 123, 12);*/
}

.boxtext0{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background: no-repeat center / cover url(../ressources/photos-oise/Château-de-Chantilly.jpg) ;
    background-clip: border-box;
    text-align: left;
    color: black;
   font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
    box-sizing: border-box;
    
}
.boxtext0:hover{
    color: black;
    background: burlywood;
}
.boxtext1{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background:no-repeat center / cover url(../ressources/photos-oise/palaisdecompiegne.jpg) ;
    background-clip: border-box;
    text-align: left;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
}
.boxtext1:hover{
    background: burlywood;

}
.boxtext2{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background:no-repeat center / cover url(../ressources/photos-oise/chateau-pierrefonds.jpg) ;
    background-clip: border-box;
    text-align: botton;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
}
.boxtext2:hover{
    background: burlywood;
    color:black ;
}
.boxtext3{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background:no-repeat center / cover url(../ressources/photos-oise/chaalis.jpg);
    background-clip: border-box;
    text-align: left;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: rgb(1, 2, 19);
}
.boxtext3:hover{
    background: burlywood;
    color:black ;
}
.boxtext4{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background:no-repeat center / cover url(../ressources/photos-oise/cathedraledebeauvais.jpg) ;
    background-clip: border-box;
    text-align: botton;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
}
.boxtext4:hover{
    background: burlywood;
    color:black;
}
.boxtext5{
    display: inline-block;
    width: 280px;
    margin: 10px;
    padding: 5px;
    background:no-repeat center / cover url(../ressources/photos-oise/Etangs-de-Comelles.jpg) ;
    background-clip: border-box;
    text-align: botton;
    color: black;
    font-weight: 400;
    border: 4px solid;
    border-color: black;
}
.boxtext5:hover{
    background: burlywood;
    color:black;}
a{
    text-decoration:none; 
    color: rgb(6, 6, 6);
}