body{
    
    background:  center / cover url('../ressources/photos/laposte.jpg');
}
main ul li{
    font-weight: 600;
    background: rgb(225, 127, 67);
    padding: 10px;
    border-color: blue;
    border: épx solid;
    border-radius: 10px
}
main ul li a{
    
    color: white;
    font-style: italic;
}
main ul li:hover{
    opacity: 0.70;
   
}
.framesaigon{
    display: flexbox;
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    object-fit: contain;
    visibility: hidden;
   
}
.iframesaigon{
    position: absolute;
    top: 40px;
    left:50px;
    width: 90%;
    height: 50%;
    border: 0;
    opacity: 1;
    background: blanchedalmond;
    object-fit: contain;
}
.lisaigon:hover, .lisaigon{
    
     visibility: visible;;


}