*, ::before, ::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #bebdbd;   
}
h1{
    font-size: 50px;
    margin-top: -10px;    
}
nav{
    height: 70px;
    width: 100%;
    background: #dad6d6;
   opacity: 0.75;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 15px;
    margin-left: 20px;
}
nav ul li h1::first-letter{
    font-size: 120%;
    color: red;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
nav ul li{
    list-style: none;
    vertical-align: top;
}
.footer{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    
}.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 15px;
    margin-left: 20px;
}
.footer ul li{
    margin: 10px;
    
}
.footer ul li a{
    color: white;
    font-size: 80%;
}