*, ::before, ::after {
box-sizing: border-box;
margin: -5px;
padding: 0;
}

body{
    height: 100vh;
    background: #333;
    opacity: 0.75;
    text-align: center;
   background: repeat center / cover url(ressources/arbre_solitaire.jpg);
}
 nav{
    height: 70px;
    width: 100%;
    background-color: lavender	;
} 
ul{
    width: 100%;
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height:70px ;
    margin: 0 10px;
   
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
}
h1{
    text-align: center;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
}
h2{
    font-style: italic;
    color: red;
    margin-bottom: 10px;
}
h6{
    font-style: italic;
    font-size: 10px;
    color: rgb(243, 34, 34);
}
.box{
        display: inline-block;
        width: 300px;
        /*height: auto;*/
        background: #fff;
        padding: 20px;
        margin: 20px;
        /*mix-blend-mode: multiply;*/
        box-shadow: 10px 5px 5px White;
}
.box :hover{
    box-shadow: 7px 3px 3px blueviolet;

}
    .c1{
        background: #bea410;  
        position: relative;
        vertical-align: middle;
        border-radius: 30px ;
        border:  5px  solid;
        border-color: blue;
    }
    .c2{
        background: rgb(221, 214, 183);
        position: relative;
        vertical-align: middle;
        border-radius:30px ;
        border:  5px  solid;
        border-color: whitesmoke;
    }
    .c3{
        background: #bea410;
        position: relative;
        vertical-align: middle;
        border-radius: 30px  ;
        border:  5px  solid;
        border-color: red;
    } 
    .box a{text-decoration: none;
        color: black;
        font-size: 19px;
    }
/*.menubas{
    color: black;
    font-size: 19px;
    margin-bottom: 0;
    line-height:50px ;
}    */
footer{
    height: 50px;
    width: auto;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}
