*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    }
body{
    height: 100vh;
    width: auto;
    /*margin: -40px;*/
    background: rgb(56, 61, 56);
    background: center / cover url(ressources/img3.jpg);
    background-position: top;
    background-repeat: repeat;
    text-align: center;
    }
    nav{
        height: 70px;
        width: 100%;
        background-color: lavender	;
    } 
    ul{
        width: 100%;
        text-align: center;
    }
    nav ul li{
        display: inline-block;
        line-height:70px ;
        margin: 0 10px;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 19px;
    }
    li{
        margin-top: 10px;
    }
h1{
    font-size: 60px;
    font-weight: 900;
    color: aliceblue;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    background: #171817; 
}
h6{
    color: red;
    font-style: italic;
}
.boxfashion{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px;
    box-sizing: border-box;
}
.boxfashion:hover{
    background: whitesmoke;
}
.boxzalando{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    opacity: 0.75;
    background-color: beige;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}
.boxzalando:hover{
    background: whitesmoke;
}
.boxasos{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px;
    text-align: center;
    box-sizing: border-box;
}
.boxasos:hover{
    background: whitesmoke;
}
.boxedel{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px ;
    text-align: center;
    box-sizing: border-box;
}
.boxedel:hover{
    background: whitesmoke;
}
.boxadidas{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px ;
    text-align: center;
    box-sizing: border-box;
}
.boxadidas:hover{
    background: whitesmoke;
}
.boxnike{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px ;
    text-align: center;
    box-sizing: border-box;
}
.boxnike:hover{
    background: whitesmoke;
}
.boxcourir{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px ;
    text-align: center;
    box-sizing: border-box;
}
.boxcourir:hover{
    background: whitesmoke;
}
.boxsneakers{
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: beige;
    opacity: 0.75;
    font-style: italic;
    color: black;
    margin: 30px;
    border-radius: 30px ;
    text-align: center;
    box-sizing: border-box;
}
.boxsneakers:hover{
    background: whitesmoke;
}
a{
    font-style: normal;
    font-weight: bolder;
    color: blue;
}