
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    }

.accueil{
    width: 100%;
    height: 100%;
   /* background: rgb(56, 61, 56);
    background: no-repeat center / cover url(ressources/img3.jpg);
    background-position: top;*/
}
h1{
    font-weight: 900;
    text-align: center;
    font-size: 60px;

}
a{
    text-decoration:none; 
}
.bouton2{
    display: inline-block;
        text-align: center;
        padding: 10px 10px;
        cursor: pointer;
        font-size:60px ;
        border-bottom: 5px;
        background-color: rgba(107, 109, 106, 0.897);
        opacity: 1;
        color: white;
        margin: 50px;
        border-radius: 50px;
        line-height: 80px;
        
  }
  .bouton2:hover{
    background: violet;
  }
  .box3d{
    
    width: 100px;
    height: 30px;
    padding: 10px;
    margin: 50px;
    mix-blend-mode: multiply;
    background: rgb(180, 178, 178);  
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    color: azure;
    /*box-shadow: inset 5em 1em gold;*/
    border: 1px solid;
    border-color: darkgray;
  padding: 10px;
    box-shadow: 2px 5px gray;
  }
  .box3d:hover{
    background: rgb(4, 3, 70);
  }  
  .button3d {
    height: 40px;
    width: 150px;
    display:block;
    margin: auto;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 900;
    color: green;
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    background-color:grey;
    text-decoration: none;
    border-radius: 12px;
    box-shadow:0px 6px #888;
  }
  .button3d:hover {
    background-color: gainsboro;
    box-shadow:0px 4px #474747;
    top: 2px;
  }
.button3d:active{
    box-shadow:0px 0px #474747;
    top: 6px;
}