body{
    height: 100vh;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #ffd;
    }
.box{
width: 180px;
height: 180px;
background: #fff;
padding: 90px;
margin: -15px;
mix-blend-mode: multiply;

}
.c1{
 background: #bea410;  
border-radius: 50% 50% 50% 50% / 16% 17% 83% 84% 
}
.c2{
    background: violet;
    border-radius: 50% 
}
.c3{
background: #07789b;
border-radius: 11% 89% 61% 39% / 52% 82% 18% 48% ;
}