*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: 0px;
} 
body {
    font-family: 'Montserrat', sans-serif;
    background:  rgb(86, 84, 84);
}
.grid-photos {
    display: grid;
    margin: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    gap: 0px;
    background-color: rgb(89, 88, 87);
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
.grid-photos img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
}
img::after {
    height: 600px;
    width: 60%;
    display: block;
    position: absolute;
    object-fit: contain;
    top: 100px;
    left: 20px;
    transform: scale(1.8);
    transition: 2s;
}

img:active, img::after {
    display: block;
    position: absolute;
    object-fit: contain;
    top: 100px;
    left: 20px;
    transform: scale(1.2);
    transition: 2s;
}
/*
img:active, .pleinecran{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    position: absolute;
    object-fit: contain;
    top: 100px;
    left: 20px;
    transform: scale(1.2);
    transition: 2s;

}*/