nav ul li h1{
    animation: echelle 5s ease 2s 2 normal forwards;
    
}

@keyframes echelle {
        0% {
            animation-timing-function: ease-out;
            transform: scale(1);
            transform-origin: center center;
        }
    
        10% {
            animation-timing-function: ease-in;
            transform: scale(0.91);
        }
    
        17% {
            animation-timing-function: ease-out;
            transform: scale(1.1);
        }
    
        33% {
            animation-timing-function: ease-in;
            transform: scale(0.90);
        }
    
        45% {
            animation-timing-function: ease-out;
            transform: scale(1.20);
        }
        55%{
            animation-timing-function: ease-in;
            transform: scale(1.00);
        }
        65%{
            animation-timing-function: ease-out;
            transform: scale(1.15);
        }
        80%{
            animation-timing-function: ease-in;
            transform: scale(0.95);
        }
        100%{
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }
